[2022-10-05 08:25] Shubhamlmp opened #2 "Add optimized solution for the problems in your favorite programming language"
1. Add optimized solution for the problems in your favorite programming language.
2. Add comment and explain each and every line.
3. Variable name should be meaningful and in camelCase like FooBar,FooBarTest.
4. Add solution link in readme file with language category in solution section like C, C++, Java, Javascript, Python.
5. Your Code must be pretty formated.
6. Have a good commit message.

[2022-10-05 08:29] Shubhamlmp opened #3 "Add optimized solution for the problems in C++"
1. Add optimized solution for the problems in **C++**.
2. Add comment and explain each and every line.
3. Variable name should be meaningful and in camelCase like **FooBar,FooBarTest**.
4. Add solution link in readme file with **C++** language category in solution section.
5. Your Code must be pretty formated.
6. Have a good commit message.

[2022-10-05 08:31] Shubhamlmp opened #4 "Add optimized solution for the problems in C"
1. Add optimized solution for the problems in **C**.
2. Add comment and explain each and every line.
3. Variable name should be meaningful and in camelCase like **FooBar,FooBarTest**.
4. Add solution link in readme file with **C** language category in solution section.
5. Your Code must be pretty formated.
6. Have a good commit message.

[2022-10-05 08:32] Shubhamlmp opened #5 "Add optimized solution for the problems in Java"
1. Add optimized solution for the problems in **Java**.
2. Add comment and explain each and every line.
3. Variable name should be meaningful and in camelCase like **FooBar,FooBarTest**.
4. Add solution link in readme file with **Java** language category in solution section.
5. Your Code must be pretty formated.
6. Have a good commit message.

[2022-10-05 08:33] Shubhamlmp opened #6 "Add optimized solution for the problems in Python"
1. Add optimized solution for the problems in **Python**.
2. Add comment and explain each and every line.
3. Variable name should be meaningful and in camelCase like **FooBar,FooBarTest**.
4. Add solution link in readme file with **Python** language category in solution section.
5. Your Code must be pretty formated.
6. Have a good commit message.

[2022-10-05 08:34] Shubhamlmp opened #7 "Add optimized solution for the problems in Javascript"
1. Add optimized solution for the problems in **Javascript**.
2. Add comment and explain each and every line.
3. Variable name should be meaningful and in camelCase like **FooBar,FooBarTest.**
4. Add solution link in readme file with **Javascript** language category in solution section.
5. Your Code must be pretty formated.
6. Have a good commit message.

[2022-10-05 08:54] rhymasharma commented on #6
Hey, I want to contribute to this repo. Could you please elaborate which problems are being referred?

[2022-10-05 10:38] Shubhamlmp commented on #6
Hey @rhymasharma, You can solve any problems of your choice which you are able to solve.

and make sure you read all rules before contributing to the project.

[2022-10-05 11:20] Shubhamlmp opened #9 "Correct table format in readme file"
correct the table format in readme file for correct format check **Data Type & Conditions** format.

1. Add counting for quesions
2. remove extra `\` from rows

[2022-10-05 11:24] aanchalsharmaa1024 commented on #9
@Shubhamlmp .plz assign it to me . I can do it

[2022-10-05 11:25] ajju-1209 commented on #3
I can add solutions in cpp , can you assign this to me?

[2022-10-05 11:26] aanchalsharmaa1024 commented on #3
I can do it @Shubhamlmp plz assign it to me . I will do it with proper comments

[2022-10-05 11:33] Shubhamlmp commented on #3
Hi @aanchalsharmaa1024, first you have to fork project,
And give star to the project.

And after that start contributing.
Thank you!

[2022-10-05 11:34] Shubhamlmp commented on #3
Hi @ajju-1209, first you have to fork project,
And give star to the project.

And after that start contributing.
Thank you!

[2022-10-05 11:37] prashantpadhy commented on #9
assign me this task

[2022-10-05 11:41] Shubhamlmp commented on #9
Hi @prashantpadhy, first go through the rules.

[2022-10-05 12:14] prashantpadhy commented on #9
yes forked

yes forked and stared

[2022-10-05 12:34] harsitagarwalla187 commented on #3
Can  Everyone work in this issue?

[2022-10-05 12:35] harsitagarwalla187 commented on #2
Can you assign me this issue?

[2022-10-05 12:35] harsitagarwalla187 commented on #9
Can i work in this issue?

[2022-10-05 13:09] Shivani622 commented on #9
@prashantpadhy  I want to work on this issue .

[2022-10-05 13:23] Shubhamlmp commented on #9
Hi @Shivani622, can you please look at another tasks.

[2022-10-05 13:23] Shubhamlmp commented on #9
Hi @harsitagarwalla187  can you please look at another tasks.

[2022-10-05 13:24] Shubhamlmp commented on #9
Okay, can you please look at another tasks.

[2022-10-05 13:25] Shubhamlmp commented on #3
Yes, @harsitagarwalla187

[2022-10-05 13:31] prashantpadhy commented on #9
done

[2022-10-05 13:38] #9 closed

[2022-10-05 13:54] samarthkumar008 commented on #7
Hey, I want to contribute to this repo.please referred me?

[2022-10-05 15:46] ayush-geek opened #17 "Summation"
`
#include <bits/stdc++.h>

using namespace std;

typedef long long ll;

int main() {

    //To read No of elements in array

    int N;
    cin>>N;

    ll arr[N];

    ll sum=0;

    //Reading Array Elements
    for(int i=0;i<N;i++)
        cin>>arr[i];

    // Findig Sum of Elements
    for(int i=0;i<N;i++)
    {

        sum+=arr[i];

    }

    //abs(num) return positive value of that num

[2022-10-05 15:47] #17 closed

[2022-10-05 18:37] Ashpreetwadhwa commented on #5
Hey @Shubhamlmp i am interested in this task

[2022-10-05 18:39] Ashpreetwadhwa commented on #6
hey @Shubhamlmp i am interested in this task

[2022-10-05 18:40] Shubhamlmp commented on #5
Hi @Ashpreetwadhwa you can start working on the problems which you are able to solve.

Follow this:
1. fork the repository and give ⭐ to the project
2. Create your own branch from master
3. Always update your feature branch when start working on new problem
4. Then push the code and create merge request

[2022-10-05 18:40] Ashpreetwadhwa commented on #3
i am interested in this task @Shubhamlmp

[2022-10-05 18:43] Shubhamlmp commented on #3
Okay no issues follow the rules and start working

[2022-10-06 17:13] Shubhamlmp opened #35 "Correct table format in readme file"
correct the table format in readme file for correct format check Data Type & Conditions format.

1. Add counting for quesions under `#`
2. Add problem name under under title section and add problem link for each problem

[2022-10-06 17:16] ProtyayMnd50 commented on #35
can you assign me this @Shubhamlmp ?

[2022-10-06 17:20] daxshonly commented on #3
can i also contribute in this project ??

[2022-10-06 17:24] Shubhamlmp opened #37 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**1. Simple Calculator
2. Area of a Circle
3. Digits Summation  
4. Summation from 1 to N**

[2022-10-06 17:26] Shubh942 commented on #37
Hey @Shubhamlmp please assign this task to me.

[2022-10-06 17:27] Shubhamlmp opened #38 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**1. Welcome for you with Condition
2. Multiples
3. Max and Min
4. Capital or Small or Digit**

[2022-10-06 17:30] Shubhamlmp commented on #37
Assigned, First forked the project, give star to project and create your new branch from master.
then start working on the project

[2022-10-06 17:30] prasanta10 commented on #38
!assign

[2022-10-06 17:32] Shubhamlmp opened #39 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**1. Char
2. Calculator
3. First digit !
4. Coordinates of a Point**

[2022-10-06 17:33] Shubhamlmp commented on #38
@prasanta10 forked this repository first then give star to the project
after that I will assign this issue to you

[2022-10-06 17:35] Shubhamlmp opened #40 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**1. Age in Days
2. Interval
3. Sort Numbers
4. Float or int**

[2022-10-06 17:38] Aman0307 commented on #4
@Shubhamlmp I would like to contribute to this.

[2022-10-06 17:43] Shubhamlmp commented on #35
@ProtyayMnd50 first forked repository and give star to it.
and start working on it by creating your own branch.

[2022-10-06 17:44] Shubhamlmp commented on #6
@Ashpreetwadhwa, Okay you can work on this first forked repos and give a star to it.
and start working on it

[2022-10-06 17:45] Shubhamlmp commented on #7
@Akkichau Okay you can start working on it

[2022-10-06 18:06] LizzyMartin commented on #40
Hi! Can I work on this one?

[2022-10-06 18:07] Shubhamlmp commented on #4
@Aman0307 Okay,
first fork the repository and start working on it

[2022-10-06 18:08] avinashdhakne commented on #39
Sir, could you please assign this task to me?

[2022-10-06 18:14] Shubhamlmp commented on #40
Hi @LizzyMartin, Yes you can just fork the repository and give a start to it.
and start working on it.

[2022-10-06 18:14] Shubhamlmp commented on #39
Hi @avinashdhakne , Yes just fork the repository and give a start to it.
and start working on it.

[2022-10-06 18:17] avinashdhakne commented on #39
Thank you

[2022-10-06 18:18] Ashpreetwadhwa commented on #6
Hey@Shubhamlmp  just assign me this task

[2022-10-06 18:18] Ashpreetwadhwa commented on #3
Ok just assign me this task

[2022-10-06 18:34] Shubhamlmp commented on #3
@imdarshansingh yes you can, follow the rules and start working.

[2022-10-06 18:45] aditya-agr commented on #40
Hello, May I also work on this.?

[2022-10-06 18:47] Aman0307 commented on #4
@Shubhamlmp I have created a PR. Please merge.

[2022-10-06 18:47] aditya-agr commented on #2
Can I work on this ?

[2022-10-06 18:50] aditya-agr commented on #38
Can I work on this?

[2022-10-06 19:59] aryanayush012 commented on #40
I want To contribute .Please assign this to me. @Shubhamlmp

[2022-10-07 04:05] Shubhamlmp commented on #35
@ProtyayMnd50 are you working on this ticket or not?

[2022-10-07 04:06] #40 closed

[2022-10-07 04:08] #39 closed

[2022-10-07 11:16] ProtyayMnd50 commented on #35
Sorry for the reply @Shubhamlmp I am sure working on it

[2022-10-07 13:40] Shubhamlmp opened #55 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**26	Hard Compare
39 GCD
40 Lucky Numbers
41 Numbers Histogram**

[2022-10-07 13:41] Shubhamlmp opened #56 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**43 | Shape1
44 | Digits
45 | Sequence of Numbers and Sum
46 | Sum of Consecutive Odd Numbers**

[2022-10-07 13:43] Shubhamlmp opened #57 "add solution for these problems in C++"
Add solution for these problems in their specific directory and add their solution links under solution section in readme file

**47 | Shape2
48 | Some Sums
49 | PUM
50 | Shape3**

[2022-10-07 13:44] Shubhamlmp opened #58 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**51 | Convert To Decimal 2
52 | Easy Fibonacci
53 | Three Numbers
56 | Replacement**

[2022-10-07 14:02] Samarthasbhat commented on #58
i will solve this issue please assign me @Shubhamlmp

[2022-10-07 14:35] Tarun-k-Gupta commented on #56
I would like to work on these problems. Please assign this to me.

[2022-10-07 14:45] harshb-14 commented on #58
I have previously worked on this may you assign this task to me?

[2022-10-07 14:49] Shubhamlmp commented on #58
Okay take fork of the repository and start working on this

[2022-10-07 14:50] Shubhamlmp commented on #58
Hi @harsh3311 pick any another task please

[2022-10-07 14:56] daxshonly commented on #55
hey admin ,
can you assign me this project , I'll provide you the fresh and clear code with comment on each line .

[2022-10-07 15:14] GyanPrakashRaj commented on #57
Hii @Shubhamlmp sir,
Kindly assign this issue to me.
🚀

[2022-10-07 15:14] harshb-14 commented on #58
i have completed the task

[2022-10-07 15:34] RohitShah1706 commented on #56
@Shubhamlmp I have good experience in CP with C++ & Java.
I would be glad to solve these problems.

[2022-10-07 15:37] Samarthasbhat commented on #58
I have added and PR done @Shubhamlmp  please MR it

[2022-10-07 16:04] prasadpatil05 commented on #58
hey assign me this

[2022-10-07 16:09] RohitShah1706 commented on #56
@Shubhamlmp I pushed the solutions for the above questions, please merge...

[2022-10-07 16:47] Tarun-k-Gupta commented on #56
@Shubhamlmp  I had already solved these problems since I was the first one to ask. Once you assign me this issue I will make a PR.

[2022-10-07 17:02] manipta commented on #57
@Shubhamlmp already done pls review it once

[2022-10-07 17:09] #57 closed

[2022-10-07 17:13] Shubhamlmp commented on #56
@Tarun-k-Gupta you can do it Java I am to create new issues for you.

[2022-10-07 17:14] Shubhamlmp commented on #56
@RohitShah1706 please add solution links to in readme file and create new MR

[2022-10-07 17:14] #56 closed

[2022-10-07 17:15] Shubhamlmp commented on #57
Hi @GyanPrakashRaj can you please look at another issues

[2022-10-07 17:17] Shubhamlmp commented on #35
Okay do it fast

[2022-10-07 17:24] Shubhamlmp commented on #58
@Samarthasbhat add solution links in readme file and create a MR

[2022-10-07 17:50] RohitShah1706 commented on #56
@Shubhamlmp I added those solution links.
Please merge pull request.

[2022-10-07 18:28] ProtyayMnd50 commented on #35
@Shubhamlmp you have merged my pr sir

[2022-10-07 18:37] manish-9245 opened #74 "Question numbers in Readme can be made better"
Instead of implementing an overall count, you can choose to have a sectional serial number.
This would enable new contributors and add the question in the readme.md directly and won't have to change all the question numbers ahead of it.

[2022-10-07 19:00] bandevedant commented on #2
please assign this to me

[2022-10-07 19:07] bandevedant commented on #37
please assign this to me

[2022-10-08 08:50] Shubhamlmp commented on #35
@ProtyayMnd50  are you doing or I assign this task to someone else?

[2022-10-08 09:54] ProtyayMnd50 commented on #35
Doing it @Shubhamlmp

[2022-10-08 10:00] ProtyayMnd50 commented on #74
Can you assign it to me @manish-9245 ?

[2022-10-08 10:51] ProtyayMnd50 commented on #35
Hey @Shubhamlmp I have made another fresh pull request pls review it. And really sorry for the delay.

[2022-10-08 12:40] sahiljarngal commented on #3
hi, I am also contribute in this project. Please assign me @Shubhamlmp

[2022-10-08 15:59] daxshonly commented on #55
hlo admin can you just help me out
can you help how can i merge both my pull requests over one single patch

[2022-10-08 16:25] 1Alisha commented on #58
Please assign it to me

[2022-10-08 16:26] starrohan999 opened #90 "Can Add Maximum-subarray problem in Array Section(Kadane's Algo)"
Kadane's Algo was asked most of the MNCs in their interview round and this is the best approach to solve the question.
@Shubhamlmp
please assign this to me so that I can start working on this.
LGTM!

[2022-10-08 16:27] starrohan999 commented on #90
Looking forward to learning and contribute @Shubhamlmp

[2022-10-08 16:29] starrohan999 commented on #3
I can also add C++ solutions for most of the questions. @Shubhamlmp  please assign it to me.

[2022-10-08 16:29] starrohan999 commented on #3
@Shubhamlmp
LGTM!

[2022-10-08 17:14] Shubhamlmp commented on #90
@starrohan999 currently I'm focusing on only beginner's level problems, after completing this we start working on algorithms part

[2022-10-08 17:15] #90 closed

[2022-10-08 17:16] Shubhamlmp commented on #74
@manish-9245  Okay you do it

[2022-10-08 17:16] #35 closed

[2022-10-08 17:30] #37 closed

[2022-10-08 17:31] #38 closed

[2022-10-08 17:50] Shubhamlmp commented on #55
Hi @imdarshansingh ,
1. first take a pull from master branch then update your feature branch.
2. then write program for each problem and cpp file format like `21_problemName.cpp`
3. and add solution link in cpp
4. then commit for each problem
5. and do same for all four problems
6. and after all this send a single MR

[2022-10-08 17:52] Shubhamlmp commented on #58
@1Alisha this task is completed please look at anothes issues

[2022-10-08 17:52] #58 closed

[2022-10-08 17:55] Shubhamlmp opened #92 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**22	Comparison
23	Mathematical Expression
24	Two intervals
25	The last 2 digits**

[2022-10-08 17:55] ankitkumar0622 commented on #92
Hey , can you please assign this to me ? I would love to work on this

[2022-10-08 18:11] Shubhamlmp commented on #92
@ankitkumar0622 please always create your own branch
and before start working in your branch update your branch from master.

[2022-10-08 18:13] Shubhamlmp opened #93 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file

**62	Smallest Pair
63	Lucky Array
64	Sum2
65	Max Subarray**

[2022-10-08 18:14] Shubhamlmp opened #94 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**66	Replace MinMax
67	Check Code
69	Minimize Number
70	Count Subarrays**

[2022-10-08 18:16] Shubhamlmp opened #95 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**71 | Permutation with arrays
72 | Search In Matrix
73 | Matrix
74 | Is B a subsequence of A ?** 

[2022-10-08 18:17] Shubhamlmp opened #96 "add solution for these problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**75 | Frequency Array
76 | Mirror Array
77 | 8 Neighbors
78 | Range sum query**

[2022-10-08 18:20] scove-viber commented on #93
Can i work on this issue?

[2022-10-08 18:24] ankitkumar0622 commented on #92
ok

[2022-10-08 18:55] Aishika3 commented on #96
I want to contribute

[2022-10-08 18:59] vavy06 commented on #95
Hi! I can work on these. Can you please assign the task to me?

[2022-10-08 19:21] Aishika3 commented on #94
Can you please assign it to me @Shubhamlmp ...

[2022-10-08 19:52] moinmulla commented on #55
I have added 40 Lucky Numbers solution with updated README.md

[2022-10-08 19:53] moinmulla commented on #55
https://github.com/Shubhamlmp/Programming-Practice/pull/98/commits/1c0450934031d08e575c74bd959ef5f7801f86f9

[2022-10-08 19:54] moinmulla commented on #55
Link of 40 Lucky Numbers https://github.com/Shubhamlmp/Programming-Practice/pull/98/commits/1c0450934031d08e575c74bd959ef5f7801f86f9

[2022-10-09 03:55] ShivanshDengla commented on #96
Can i work on this?

[2022-10-09 05:08] Aly838 commented on #96
Please assign me this issue..

[2022-10-09 05:09] Aly838 commented on #2
Please  assign me this issue

[2022-10-09 05:10] Aly838 commented on #93
Please assign this to me

[2022-10-09 05:30] soham2312 commented on #93
Please assign this to me

[2022-10-09 05:31] soham2312 commented on #92
Please assign this to me

[2022-10-09 05:33] asv02 commented on #96
@Shubhamlmp ,I can add a very well-explained code for this question, please assign it to me under hacktoberfest label.

[2022-10-09 05:37] Shubhamlmp commented on #96
@Aishika3 okay you can start working on it

[2022-10-09 08:31] Tushar161101 commented on #95
Hey!
I'm Hacktoberfest'22 contributor .I would like to work on this issue. Please assign me this issue.

[2022-10-09 08:33] Tushar161101 commented on #2
Hey!
I'm Hacktoberfest'22 contributor .I would like to work on this issue. Please assign me this issue.

[2022-10-09 11:41] soham2312 commented on #95
Please assign this to me

[2022-10-10 14:56] 1tsak opened #117 "Add Python Codes Folder"
Add Python Codes Folder

[2022-10-10 15:30] AnishKumarGarg commented on #96
pls assign me this issue

[2022-10-10 15:31] AnishKumarGarg commented on #94
can you pls assign me this issue

[2022-10-10 15:32] AnishKumarGarg commented on #2
pls assign me this

[2022-10-10 15:33] AnishKumarGarg commented on #6
hey i want to contribute pls assign me this issue

[2022-10-10 16:59] Aishika3 commented on #96
@Shubhamlmp I have added in readme file and PR done please MR it.

[2022-10-10 17:04] Parag-dwn opened #122 "add Largest Sum Contiguous Subarray problem"
I have solved this question. allow me to handle it.

[2022-10-10 19:59] Utkarsh2312 commented on #93
I am a Competitive Programming enthusiast  (3⭐ at codechef). I would like to contribute in your repository. Can you please assign it to me.

[2022-10-10 20:03] Utkarsh2312 commented on #95
I am a Competitive Programming enthusiast (3⭐ at codechef). I would like to contribute in your repository. Can you please assign it to me.

[2022-10-11 02:41] 1tsak commented on #117
Merged, can you please add the labels?

[2022-10-11 06:36] aakash-gorai commented on #55
hey @Shubhamlmp, can I submit the solutions..?

[2022-10-11 06:39] aakash-gorai commented on #92
hey @Shubhamlmp, question no.s 24 and 25 are already submitted so Can I submit the solutions of q no.s 22 and 23. Please assign this issue to me.

[2022-10-11 07:12] 1tsak opened #125 "Add more programs in python"
Add Palindrome, Fibonacci, and Other Problems in Python Code

[2022-10-11 07:17] #117 closed

[2022-10-11 08:28] AnishKumarGarg opened #128 "Add some object oriented programming questions with codes in c++"

[2022-10-11 08:30] #128 closed

[2022-10-11 08:30] aakash-gorai commented on #92
hey @Shubhamlmp , I have added the solutions of qno. 22 and 23 with better formatting and comments and also created a PR.

[2022-10-11 08:33] AnishKumarGarg opened #129 "Add more problems in c++"
Add some object oriented programming based problems with their solutions in c++

[2022-10-11 10:43] Amitdhal007 opened #131 "Add DSA folder || C++"
Add DSA questions using C++

[2022-10-11 13:03] hey-ak opened #135 "Add Java Programs"
Add Some Programs In Java For Java Learners

[2022-10-11 14:56] piyushkumarsingh03 commented on #135
can you assign me and explain which type of programs i should contribute

[2022-10-11 14:56] piyushkumarsingh03 commented on #125
please assign me

[2022-10-11 16:41] AnishKumarGarg opened #142 "Some basic jquery functions"
Add some jquery concepts with their codes showing their functionality you can use in your websites.

[2022-10-11 16:57] AnishKumarGarg opened #144 "Add more problems in c++"
Add some object oriented programming based problems with their solutions in c++

[2022-10-13 06:35] #122 closed

[2022-10-13 06:35] #125 closed

[2022-10-13 06:35] #129 closed

[2022-10-13 06:35] #131 closed

[2022-10-13 06:35] #135 closed

[2022-10-13 06:35] #142 closed

[2022-10-13 06:35] #144 closed

[2022-10-13 06:35] #55 closed

[2022-10-13 06:35] #74 closed

[2022-10-13 06:35] #92 closed

[2022-10-13 06:35] #93 closed

[2022-10-13 06:35] #94 closed

[2022-10-13 06:35] #95 closed

[2022-10-13 06:35] #96 closed

[2022-10-13 06:36] #2 closed

[2022-10-13 06:36] #5 closed

[2022-10-13 14:41] AditiBanik commented on #3
hello, i have another cpp problem solution from leetcode , i have created pr request, kindly please look into it and merge it. Thank you.

[2022-10-13 19:02] Shubhamlmp opened #158 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**09  Smallest Pair
10  Lucky Array
11  Sum2
12  Max Subarray
13  Replace MinMax
14  Check Code**

[2022-10-13 19:03] Shubhamlmp opened #159 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**16  Minimize Number
17  Count Subarrays
18  Permutation with arrays
19  Search In Matrix
 20  Matrix
 21  Is B a subsequence of A ?**

[2022-10-13 19:04] Shubhamlmp opened #160 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**14  Lucky Numbers
15  Numbers Histogram
26  Binary Search**

[2022-10-13 19:10] Shubhamlmp opened #161 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**02  Let's use Getline
03  Compare
04  Strings
10  Count Letters**

[2022-10-13 19:11] Shubhamlmp opened #162 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**05  Count
06  Way Too Long Words
07  Conversion
08  Good or Bad**

[2022-10-13 20:14] kajaveaniruddha commented on #162
@Shubhamlmp can you assign me this issue ?

[2022-10-14 05:42] 1Alisha commented on #162
@Shubhamlmp
Please help me
I have one doubt could you help me with that?
I have participated in hacktoberfest as a maintainer so where can I see my progress in hacktoberfest or whether my repository is hacktoberfest accepted or not where can i check..As contributors get badges ..Do we as maintainers also get badges

[2022-10-14 08:11] Ashpreet-Singh commented on #161
Hey @Shubhamlmp  can you assign me this

[2022-10-14 11:40] Misbah-Ul-Haque commented on #159
@Shubhamlmp please assing to me

[2022-10-14 12:54] prasanta10 commented on #160
!assign

[2022-10-14 13:32] harsh0620 commented on #160
Hey there! Can you please assign this to me.

[2022-10-14 13:33] harsh0620 commented on #162
Hey there! Can you please assgin me this task.

[2022-10-14 13:33] harsh0620 commented on #158
Hey there! Can you please assign me this task.

[2022-10-14 22:11] sahilsrivastava25 opened #176 "Palindrome Flipping : CODECHEF STARTERS 60 SOLUTION IN C++"
I would like to contribute this problem in the your repository. Also I will be really grateful to you if you tag this as Hacktoberfest 2022 contribution.

[2022-10-15 06:13] RohitShah1706 opened #178 "BFS AND DFS traversal of a graph using adjacency list."
@Shubhamlmp please assign this issue to me.

[2022-10-15 07:45] AditiBanik commented on #3
hello, i have another cpp problem solution from leetcode , i have created pr request, kindly please look into it and merge it. Thank you. kindly please assign me this issue

[2022-10-16 06:11] daxshonly commented on #176
bro , i just send you the PR for the solution of palindrome flipping ,
so you can check and merge it into your repo .
thanks \
happy coding

[2022-10-16 19:25] Aishika3 commented on #158
@Shubhamlmp I have completed #158 and added files in readme file and created pr please mr it

[2022-10-17 06:01] karanpreet8082 commented on #178
I would like to do it.
Leetcode -> karan_8082
Can see my profile , i have done these a lot so optimised solution with comments would be provided.

[2022-10-17 06:03] karanpreet8082 commented on #161
I would like to do it.
Leetcode -> karan_8082
Can see my profile , i have done these a lot so optimised solution with comments would be provided.

[2022-10-17 06:03] karanpreet8082 commented on #159
I would like to do it.
Leetcode -> karan_8082
Can see my profile , i have done these a lot so optimised solution with comments would be provided.

[2022-10-17 06:04] karanpreet8082 commented on #158
I would like to do it.
Leetcode -> karan_8082
Can see my profile , i have done these a lot so optimised solution with comments would be provided.

[2022-10-17 17:48] #176 closed

[2022-10-18 05:47] Aishika3 commented on #159
@Shubhamlmp I have attached in readme file also and created pr @Shubhamlmp plss mr it.

[2022-10-18 08:24] daxshonly commented on #178
submitted BFS solution

[2022-10-18 08:33] daxshonly commented on #3
Hello @Shubhamlmp  i have added some optimized code , so if you like it then merge it .
Thanks
happy coding

[2022-10-19 17:37] #178 closed

[2022-10-19 17:40] Shubhamlmp commented on #162
@kajaveaniruddha @1Alisha @harsh0620 We are not assigning any issue to any one person.
who will first send the PR and we review if all okay then we merge that MR

[2022-10-19 17:40] Shubhamlmp commented on #161
@Ashpreet-Singh  We are not assigning any issue to any one person.
who will first send the PR and we review if all okay then we merge that MR

[2022-10-19 17:41] #160 closed

[2022-10-19 17:42] #159 closed

[2022-10-19 17:43] #158 closed

[2022-10-19 17:47] Shubhamlmp opened #213 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**11  I Love strings
12  String Functions
13  Subsequence String
14  Max Subsequence**

[2022-10-19 17:48] Shubhamlmp opened #214 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**15  Sort String
16  Count Words
17  Reverse Words
18  String Score**

[2022-10-19 17:48] #3 closed

[2022-10-19 17:48] #4 closed

[2022-10-19 17:48] #6 closed

[2022-10-19 17:48] #7 closed

[2022-10-19 17:50] Aishika3 commented on #213
@Shubhamlmp Plss I want to contribute

[2022-10-19 17:50] Shubhamlmp opened #215 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**20 URL
21 No name1 
22 No name2**

[2022-10-19 17:51] Aishika3 commented on #214
@Shubhamlmp plss I want to contribute

[2022-10-19 17:53] Shubhamlmp commented on #214
No issues, just update you branch before start contributing.

[2022-10-19 17:57] Shubhamlmp opened #216 "solution needed for below problems in C++"
Add solution for these problems and add their solution links under solution section in readme file
**24  Comparison
25  Min Cost String
26  Clean Code**

[2022-10-19 18:05] Sidkul2000 commented on #216
Could you assign this task to me?

[2022-10-19 18:30] Ash0069 commented on #216
Hi @Shubhamlmp, please assign this issue to me

[2022-10-20 03:08] aman6969 commented on #215
please assign this to me @Shubhamlmp

[2022-10-20 04:13] vaibhv232 commented on #216
Hii sir assign it to me

[2022-10-20 09:18] r-guy commented on #213
can I solve this issue?

[2022-10-20 09:44] ratindra-katyayan commented on #161
Hello Sir, Can you assign this issue to me?

[2022-10-20 09:46] ratindra-katyayan commented on #214
Hello Sir , Can you assign this to me?

[2022-10-20 10:01] ratindra-katyayan commented on #213
Hello Sir, Can you assign this to me?

[2022-10-20 12:28] rahul2001dewangan commented on #216
Please can you assign this to me?

[2022-10-20 12:29] rahul2001dewangan commented on #214
Please can you assign this to me?

[2022-10-21 05:50] Swayam101 commented on #215
assign it to me please

[2022-10-21 21:26] laveshverma007 commented on #216
Please assign to me

[2022-10-21 21:27] laveshverma007 commented on #215
Please assign to me

[2022-10-22 06:04] Ashish93-mrx commented on #162
@Shubhamlmp
Hello sir,could you please assign me this issue.

[2022-10-22 09:51] Aishika3 commented on #161
I have added solutions to readme file and created pr @Shubhamlmp plss mr it .#161 completed

[2022-10-22 17:17] Aishika3 commented on #161
@Shubhamlmp I have added the solution plss mr it

[2022-10-23 06:36] Shubhamlmp commented on #216
@Sidkul2000 @rahul2001dewangan @laveshverma007 @vaibhv232 @Ash0069
We are not assigning any issue to any one person.
who will first send the PR and we review if all okay then we merge that MR

[2022-10-23 06:37] #161 closed

[2022-10-23 06:39] Shubhamlmp commented on #214
@Aishika3 you still not completed this task?

[2022-10-23 06:39] Shubhamlmp commented on #214
@rahul2001dewangan @ratindragithub We are not assigning any issue to any one person.
who will first send the PR and we review if all okay then we merge that MR

[2022-10-23 06:40] Shubhamlmp commented on #215
@Swayam101 @aman6969 @laveshverma007 We are not assigning any issue to any one person.
who will first send the PR and we review if all okay then we merge that MR

[2022-10-23 06:41] Shubhamlmp commented on #162
@Ashish93-mrx We are not assigning any issue to any one person.
who will first send the PR and we review if all okay then we merge that MR

[2022-10-23 06:44] Shubhamlmp commented on #162
https://hacktoberfestchecker.jenko.me/user/1Alisha

[2022-10-23 06:47] laveshverma007 commented on #215
Could you please add that hacktoberfest tags in my merged pr🥲

[2022-10-23 06:50] Sidkul2000 commented on #216
Yes I have already submitted the c++ programs, please accept the PR

[2022-10-23 06:56] Shubhamlmp commented on #216
Please check again I didn't find your PR

[2022-10-23 06:59] Shubhamlmp opened #240 "format and modernize the repository"
Update and modernize repository and format all the files in correct way.
and move all the files in there correct location.

[2022-10-23 07:24] laveshverma007 commented on #240
I have made the pull request, thanks

[2022-10-23 07:26] Shubhamlmp commented on #240
@laveshverma007 bro I already pushed the changes

[2022-10-23 07:26] #240 closed

[2022-10-23 07:28] laveshverma007 commented on #240
ok

[2022-10-23 07:40] laveshverma007 commented on #213
Added some subsequence problems and created a pr

[2022-10-23 08:08] Shubhamlmp opened #245 "add projects which will help to beginners"
**Any project will be accepted which will follow the below instructions.**

1. we are not expecting any large project.
2. Any beginner level project will be accepted.
3. project will be implemented in any language.

**Rules related to PR:**

- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instructions in documentatio

[2022-10-23 10:17] vanshikaa-agarwal commented on #245
I would like to work on this

[2022-10-23 15:16] harpreet0102 commented on #162
Hey @Shubhamlmp !
I have created a pull request to this issue. Can you please review it and merge it if it satisfies your expectations.

Thanks!

[2022-10-23 18:07] Shubhamlmp commented on #245
Okay you can start contributing @vanshikaa-agarwal

[2022-10-24 10:00] vanshikaa-agarwal commented on #245
I made a color flipper...using simple Html,css,and js...should i create a pr for it

[2022-10-24 11:38] Shubhamlmp commented on #245
@vanshikaa-agarwal Great, yes you can.

[2022-10-24 18:13] Ashish93-mrx commented on #245
i would like to add python beginner project in this issue,please assign me.

[2022-10-29 07:44] #162 closed

[2022-10-29 07:44] #213 closed

[2022-10-29 07:44] #214 closed

[2022-10-29 07:44] #215 closed

[2022-10-29 07:44] #216 closed

[2022-10-29 07:46] Shubhamlmp opened #273 "implement beginner project in Javascript"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project, small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in Javascript language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add

[2022-10-29 07:47] Shubhamlmp opened #274 "implement beginner project in python"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in python language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instr

[2022-10-29 07:49] varun-jaiswal17 commented on #274
@Shubhamlmp please assign this to me.
thanks.

[2022-10-29 07:51] Shubhamlmp commented on #274
@vrooomy Assigned
Thank You.

[2022-10-29 07:52] Shubhamlmp opened #275 "implement beginner project in C"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in C language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instructio

[2022-10-29 07:53] Shubhamlmp opened #276 "implement beginner project in C++"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in C++ language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instruct

[2022-10-29 07:53] Shubhamlmp opened #277 "implement beginner project in Java"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in Java language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instruc

[2022-10-29 07:55] Shubhamlmp opened #278 "implement project under 100 lines of code (any language)"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in any language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instruct

[2022-10-29 08:01] Shubhamlmp opened #279 "Solved any Unsolved Problem and get PR accepted for Hacktoberfest 2022"
In Our repository there are lot of problems left which are unsolved,
So, what you have to do solve unsolved problems and get PR accepted for Hacktoberfest 2022

**How to know which problem is Unsolved**

- Go to our readme section.
- There is a column for solution and check

[2022-10-29 08:20] Zweak commented on #273
Hey @Shubhamlmp, Can you assign me?
I'd like working on a beginner friendly javascript project.

[2022-10-29 08:23] Shubhamlmp commented on #273
@Zweak  Assigned
Thank You.

[2022-10-29 08:45] debjitnandan05 commented on #276
I want to add my C++ project to your repository. Can you please assign me this task?

[2022-10-29 08:48] Shubhamlmp commented on #276
@debjitnandan05 assigned

[2022-10-29 09:07] Mayureshkaulwar commented on #275
assign to me

[2022-10-29 09:07] Mayureshkaulwar commented on #277
assign to me

[2022-10-29 09:08] Mayureshkaulwar commented on #278
assign to me

[2022-10-29 09:21] mrprashantkumar opened #284 "Implement Stack using Two Queues"

[2022-10-29 09:22] mrprashantkumar commented on #284
Assign this issue to me

[2022-10-29 14:46] voiDXDops commented on #275
Can I have the access to do this project?

[2022-10-29 14:47] voiDXDops commented on #277
Can I have the access to this project?

[2022-10-29 15:10] thesuaveguy commented on #279
hi @Shubhamlmp ,could you please review my pr

[2022-10-29 16:34] HuzaifaChaudary commented on #276
hey! I want to add my C++ project to your repository. Can you please assign me this task?

[2022-10-29 18:31] Shubhamlmp commented on #275
@voiDXDops You can work on any issue whatever you like

[2022-10-29 18:50] shreya2663 commented on #279
can i do it

[2022-10-30 01:33] ya332 commented on #279
Hello, please review my 4 PRs:
1) https://github.com/Shubhamlmp/Programming-Practice/pull/306
2) https://github.com/Shubhamlmp/Programming-Practice/pull/307
3) https://github.com/Shubhamlmp/Programming-Practice/pull/308
4) https://github.com/Shubhamlmp/Programming-Practice/pull/309

Thanks.

[2022-10-30 07:39] HuzaifaChaudary commented on #274
Pls assign me this . The fact that Shubham is the only maintainer that is active and his repository 's PRs are really from humans instead of bots. I wanna do my second PR into ur Repo. Giving you 🥇

[2022-10-30 12:54] siddhesh-coder commented on #284
plz assign me this issue

[2022-10-30 13:09] #284 closed

[2022-10-30 13:10] Shubhamlmp commented on #284
Assigned

[2022-10-30 13:10] siddhesh-coder commented on #284
ok

[2022-10-30 13:11] Shubhamlmp opened #329 "implement project under 50-100 lines of code (PR accepted for Hacktofest 2022)"
**Any project will be accepted which will follow the below instructions.**
1. we are not expecting any large project small project is Okay.
2. Any beginner level project will be accepted.
3. project will be implemented in any language.

**Rules related to PR:**
- create new directory (folder) with your project name that include below details.
- code with well explained with comments
- add instruct

[2022-10-30 13:35] AnuragGjais commented on #329
Hello, can you assign this issue to me ?

[2022-10-30 18:28] somyashri3 commented on #276
hey @Shubhamlmp, I would like to contribute to this issue

[2022-10-31 04:20] #279 closed

[2022-11-02 09:53] #245 closed

[2022-11-02 09:53] #273 closed

[2022-11-02 09:53] #277 closed

[2022-11-02 09:53] #278 closed

[2022-11-02 09:53] #329 closed